@import "../../styles/index.scss";

.storelogin-con {
  background: $color-green;
  // height: calc(100vh - $navbar-height);
  // padding-top: calc((100vh - $navbar-height - 578px) / 2);
  padding: 4rem;
  .content {
    background: white;
    // height: 578px;
    // width: 475px;
    filter: drop-shadow(0 0 0.5rem $color-grey);
    margin: auto;
  }
  // -------- input樣式 --------
  .input-label-title {
    font-size: $fz-x-lg;
  }
  .custom-input {
    border-radius: 2px;
    border: 2px solid $color-light-grey;
  }

  .submit-btn {
    background-color: $color-green;
    border-radius: 2px;
  }
  .btn-fb-login {
    color: white;
    background-color: #3b5998;
    border-radius: 2px;
    .big-icon {
      font-size: 26px;
    }
  }
}
.error {
  color: $color-red;
}
.no-link{
  background: $color-light-green;
}