.storeprofileediting-data-modal-green {
  text-decoration: none;
  background-color: $color-light-green;
  color: #fff;
  // padding: 0.4rem;
  // border-radius: 1rem;
}

// bootstrap 彈出視窗 頁首 刪除水平線
.modal-header {
  border-bottom: 0 none;
}
// bootstrap 彈出視窗 頁尾 刪除水平線
.modal-footer {
  border-top: 0 none;
}

// 改變所有 label 顏色
.container label {
  color: $color-green;
}

// 改變選擇檔案、送出申請顏色
input[type="file"]::file-selector-button ,.sendApply {
  background-color: $color-green;
}

// 禁用 textarea 的 resizable 屬性
textarea {
  resize: none;
}

input[type="checkbox"] {
  border: 1px solid gray;
  user-select: none; /* 防止文字被滑鼠選取反白 */
  background: #fcfff4;
  width: 1.25rem;
  height: 1.25rem;
}

input[type="checkbox"]:checked {
  background-color: $color-green;
}

// 消除勾選打勾樣式
.form-check-input:checked[type="checkbox"] {
  background-image: none;
}

// 營業星期背景顏色
.businessWeek-bg {
  background-color: rgba(166, 191, 75, 0.3);
}

// 將 checkbox 和 label 對齊
.businessWeek-align {
  padding-right: 3px;
}
