.background-admin-data-right-content {
    width: 1125px;
    background-color: #fff;
    margin-left: 570px;
    margin-top: 1.5rem;
    border-radius: 1.25rem;
    padding: 1rem;
    height: 840px;
    .background-admin-data-right-sort {
        border: none;
        background-color: rgba(0, 0, 0, 0);
        color: $color-dark-grey;
    }
    .background-admin-data-right-sort-options {
        min-width: 1rem;
        padding: 1rem;
        li {
            a {
                text-decoration: none;
                color: $color-dark-grey;
                transform: 0.3s;
                &:hover {
                    color: $color-green;
                }
            }
        }
    }
    .text-end {
        color: $color-dark-grey;
        font-weight: 600;
    }
}
//白色區塊RWD調margin
@media screen and (max-width: 1650px) {
    .background-admin .background-admin-data .background-admin-data-right .background-admin-data-right-content {
        margin-left: 300px;
    }
}
