.background-admin-data-right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0.5rem;
    background-color: #fff;
    color: $color-dark-grey;
    box-shadow: 0.1rem 0.085rem 0.5rem rgba(19, 19, 19, 0.5);
    .background-admin-data-right-nav-title {
        font-size: $fz-xxxx-lg;
        margin-left: 285px;
    }
    .background-admin-data-right-nav-content {
        display: flex;
        align-items: center;
        .icon {
            color: $color-green;
        }
        .icon-border {
            border-right: 1px solid #ccc;
            padding-right: 1rem;
        }

        .username {
            font-size: $fz-sm;
        }
        .user-photo {
            margin-left: 1rem;
            width: 2.5rem;
            height: 2.5rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}
