.background-admin {
    .background-admin-data {
        // 左邊欄位區塊開始
        .background-admin-data-left {
            background: #fff;
            min-width: 255px;
            // 左欄樣式讓他固定在左邊不動
            .background-admin-data-left-nav {
                position: fixed;
                z-index: 10;
                width: 255px;
                height: 100%;
                background: #fff;
                padding-top: 3rem;
                .background-admin-data-left-nav-logo {
                    text-align: center;
                }
                ul {
                    list-style: none;
                    padding-left: 0;
                    margin-top: 2rem;
                    li {
                        padding: 0;
                        padding: 0.75rem 0;
                        img {
                            width: 1.35rem;
                            height: 1.35rem;
                            padding-bottom: 0.1rem;
                            margin-right: 0.5rem;
                        }
                        a {
                            text-decoration: none;
                            padding-left: 2.6rem;
                            color: $color-light-grey;
                            width: 100%;
                        }
                    }
                }

                .active {
                    border-left: 6px solid $color-green;
                    padding: 0.75rem 0;

                    a {
                        color: $color-dark-grey;
                    }
                }
            }
            // 左邊欄位區塊結束
        }
        //右邊欄位開始

        //綠色背景設定
        .background-admin-data-right {
            background-color: $color-green;
            min-width: 100vw;
            position: absolute;
            height: 125vh;

            //上方導覽列
            .background-admin-data-right-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.5rem 0.5rem;
                background-color: #fff;
                color: $color-dark-grey;
                box-shadow: 0.1rem 0.085rem 0.5rem rgba(19, 19, 19, 0.5);
                .background-admin-data-right-nav-title {
                    font-size: $fz-xxxx-lg;
                    margin-left: 285px;
                }
                .background-admin-data-right-nav-content {
                    display: flex;
                    align-items: center;
                    .icon {
                        color: $color-green;
                    }
                    .icon-border {
                        border-right: 1px solid #ccc;
                        padding-right: 1rem;
                    }

                    .username {
                        font-size: $fz-sm;
                    }
                    .user-photo {
                        margin-left: 1rem;
                        width: 2.5rem;
                        height: 2.5rem;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }
            }
            // 白色區塊
            .background-admin-data-right-content {
                width: 1125px;
                background-color: #fff;
                margin-left: 570px;
                margin-top: 1.5rem;
                border-radius: 1.25rem;
                padding: 1rem;
                .background-admin-data-right-sort {
                    border: none;
                    background-color: rgba(0, 0, 0, 0);
                    color: $color-dark-grey;
                }
                .background-admin-data-right-sort-options {
                    min-width: 1rem;
                    padding: 1rem;
                    li {
                        a {
                            text-decoration: none;
                            color: $color-dark-grey;
                            transform: 0.3s;
                            &:hover {
                                color: $color-green;
                            }
                        }
                    }
                }
                .text-end {
                    color: $color-dark-grey;
                    font-weight: 600;
                }

                //表格
                .background-admin-data-right-content-table {
                    color: $color-black;
                    border-color: $color-light-grey;

                    tbody {
                        tr {
                            td {
                                padding: 1.1rem 0;
                                padding-left: 0.5rem;
                                vertical-align: middle;
                                font-size: $fz-sm;
                                a {
                                    text-decoration: none;
                                    background-color: $color-light-green;
                                    color: #fff;
                                    padding: 0.4rem;
                                    border-radius: 1rem;
                                }
                            }
                        }
                    }
                }
                //分頁
                .background-admin-data-right-content-pages {
                    ul {
                        li {
                            margin: 0px 0.2rem;
                            a {
                                color: $color-dark-grey;
                            }
                        }
                    }
                }
            }
        }
    }
}

//白色區塊RWD調margin
@media screen and (max-width: 1650px) {
    .background-admin .background-admin-data .background-admin-data-right .background-admin-data-right-content {
        margin-left: 300px;
    }
}
