.rec-card {
  overflow: hidden;
  background-color: white;
  width: 263px;
  height: 359px;
  border-radius: 0.4rem;
  padding: 0;
  border-top: 0.54rem solid $color-yellow;
  border-bottom: 0.54rem solid $color-yellow;
  transition: 0.38s;
  position: relative;
  flex-direction: column;
  &:hover {
    filter: drop-shadow(0.188rem 0.188rem 10px $color-dark-grey);
  }
  .deco-top {
    position: relative;
  }
}
