// 共用：實心愛心 -> 空心愛心
.store_Like_Active {
  width: 19px;
  height: 19px;
  fill: $color-light-red;
  color: $color-light-red;
  transform: translateY(0.5px);
  transition: 0.3s;
}
.store_Like_unActive {
  width: 19px;
  height: 19px;
  color: $color-light-red;
  transform: translateY(0.5px);
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
    fill: $color-light-red;
  }
}
//沒登入的愛心
.store_Like_Active_view {
  width: 19px;
  height: 19px;
  fill: $color-light-red;
  color: $color-light-red;
  transform: translateY(0.5px);
  transition: 0.3s;
}
// .store_Like_unActive_view {
//   width: 19px;
//   height: 19px;
//   color: $color-light-red;
//   transform: translateY(0.5px);
//   transition: 0.3s;
//   // &:hover {
//   //   transform: scale(1.2);
//   //   fill: $color-light-red;
//   // }
// }
//-------- slider最新消息幻燈片 --------
@import "./slider";
// -------- 推薦 --------
@import "./recomm";
@import "./recomCard";
//-------- 商家單一卡片 --------
@import "./storeInfoCard";
//-------- 商家列表 --------
@import "./storeInfoList";
