@import "../../styles/index.scss";

.mapContainer {
    height: 75vh;
    width: 100%;
    padding: 0px;
}
.paper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
}
.markerContainer{
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    &:hover{z-index: 2};
}
.pointer{
    cursor:pointer;
}
.formControl{
min-width : 120;
margin-bottom: 30px;
}
.list{
    height: 20vh;
    overflow: auto;
padding: 0px;    
background: #668c4a;
}

.selector{
    margin: 33.5px;
}
.searchInput{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 40px;
    top: 12.5px;
    border-top-color: $color-lightGreen;
    border-bottom-color: $color-lightGreen;
    border-right-color: $color-lightGreen;
    border-left-color: rgba($color: #FFFFFF, $alpha: 0);
}
.mSearchContainer{
    display: flex;
    align-items: center ;
    justify-content: center ;
    height: 65px;
  }
 .input-group{
min-width: 300px;
display: flex;
align-items: center ;
justify-content: center ;


  }
.input-group-text{
    border-color: rgba($color: #ffffff, $alpha: 0);
}
.filterBtn{
    width: 40px;
    height: 40px;
    border-color:rgba(0,0,0,0);
    background:rgba($color: #FFFFFF, $alpha: 0);
}