.map-bg {
  background-color: $color-green;
  display: flex;
  .map-wrapper {
    // height: 85vh;
    border: 2px solid red;
    .google-map {
      height: 85vh;
      z-index: 1005;
      .pin-icon {
        &:hover {
          border: 4px solid blue;
        }
      }
      .pin-text {
        padding: 1rem;
        width: max-content;
        height: fit-content;
        border-radius: 3px;
        background-color: white;
        color: $color-dark-grey;
        // position: relative;
        // left: -1.5rem;
        font-size: x-large;
        .product-left {
          width: fit-content;
          height: fit-content;
          padding: 0.3rem 0.6rem;
          border-radius: 25px;
          background-color: $color-light-grey;
        }
        .time {
        }
      }
    }
    .map-search {
      position: absolute;
      right: 45rem;
      top: 12rem;
      border: 3px solid $color-green;
      z-index: 1010;
      background-color: white;
      .toggle-controller {
        display: none;
      }
      .map-search-icon {
        color: $color-green;
        font-size: xx-large;
      }
      .search-bar {
        width: 24rem;
        height: 3rem;
        margin-left: 0.5rem;
        border: none;
        outline: none;
        font-size: x-large;
      }
    }
  }
  .map-side-bar {
    padding: 4rem 0 10rem;
    .map-select-bar {
      height: fit-content;
      padding: 0.5rem;
      width: 16rem;
      background-color: white;
      color: $color-green;
      border: 4px solid $color-light-green;
      border-radius: 3px;
      .cate-option {
        transition: 0.3s;
        &:hover {
          background-color: $color-yellow;
          color: white;
        }
      }
    }
    .map-title {
      color: white;
      font-size: x-large;
    }
    .map-store-card {
      .store-info-card {
        overflow: hidden;
        background-color: white;
        width: 263px;
        height: 359px;
        border-radius: 0.4rem;
        padding: 1.6rem 1rem;
        border-top: 0.54rem solid $color-light-green;
        border-bottom: 0.54rem solid $color-light-green;
        transition: 0.38s;
        position: relative;
        flex-direction: column;
        &:hover {
          @include drop-shadow-dark;
        }

        .info-img {
          // width: 233px;
          height: 162px;
          background-color: gray;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1000;
          }
          .is-open {
            width: fit-content;
            background-color: $color-light-green;
            color: white;
            padding: 0.1rem 0.4rem;
            border-radius: 5px;
            z-index: 1009;
            align-self: flex-end;
            position: relative;
            top: -2rem;
            left: 10.35rem;
          }
          .is-closed {
            width: fit-content;
            background-color: $color-grey;
            color: white;
            padding: 0.1rem 0.4rem;
            border-radius: 5px;
            z-index: 1009;
            align-self: flex-end;
            position: relative;
            top: -1.2rem;
            left: 10.35rem;
          }
        }
        .info-title {
          // width: 233px;
          .cate-tag {
            text-align: center;
            align-items: center;
            padding: 0.1rem 0.4rem;
            background-color: $color-light-grey;
            border-radius: 12px;
            width: fit-content;
            height: fit-content;
            font-size: $fz-ss-sm;
            color: $color-dark-grey;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 390px) {
  .map-bg {
    background-color: $color-green;

    .map-wrapper {
      // height: 85vh;

      border: 2px solid red;
      .google-map {
        height: 85vh;
        z-index: 1005;
        .pin-icon {
          &:hover {
            border: 4px solid blue;
          }
        }
        .pin-text {
          padding: 1rem;
          width: max-content;
          height: fit-content;
          border-radius: 3px;
          background-color: white;
          color: $color-dark-grey;
          // position: relative;
          // left: -1.5rem;
          font-size: x-large;
          .product-left {
            width: fit-content;
            height: fit-content;
            padding: 0.3rem 0.6rem;
            border-radius: 25px;
            background-color: $color-light-grey;
          }
          .time {
          }
        }
      }
      .map-search {
        position: relative;
        right: 0;
        top: 0;
        border: 4px solid $color-green;
        padding: 0.5rem;
        z-index: 1010;
        background-color: rgb(133, 151, 49);
        .toggle-controller {
          display: block;
          color: white;
          font-size: x-large;
          transform: rotate(90deg);
        }
        .map-search-icon {
          color: $color-green;
          font-size: xx-large;
        }
        .search-bar {
          width: 15rem;
          height: 3rem;
          margin-left: 0.5rem;
          border: none;
          outline: none;
          font-size: large;
        }
      }
    }
    .map-side-bar {
      padding: 0.3rem 0 10rem;
      .map-select-bar {
        height: fit-content;
        padding: 0.5rem;
        width: 16rem;
        background-color: white;
        color: $color-green;
        border: 4px solid $color-light-green;
        border-radius: 3px;
        .cate-option {
          transition: 0.3s;
          z-index: 1050;
          &:hover {
            background-color: $color-yellow;
            color: white;
          }
        }
      }
      .map-title {
        color: white;
        font-size: x-large;
      }
      .map-store-card {
        .store-info-card {
          overflow: hidden;
          background-color: white;
          width: 263px;
          height: 359px;
          border-radius: 0.4rem;
          padding: 1.6rem 1rem;
          border-top: 0.54rem solid $color-light-green;
          border-bottom: 0.54rem solid $color-light-green;
          transition: 0.38s;
          position: relative;
          flex-direction: column;
          &:hover {
            @include drop-shadow-dark;
          }

          .info-img {
            // width: 233px;
            height: 162px;
            background-color: gray;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              z-index: 1000;
            }
            .is-open {
              width: fit-content;
              background-color: $color-light-green;
              color: white;
              padding: 0.1rem 0.4rem;
              border-radius: 5px;
              z-index: 1009;
              align-self: flex-end;
              position: relative;
              top: -2rem;
              left: 10.35rem;
            }
            .is-closed {
              width: fit-content;
              background-color: $color-grey;
              color: white;
              padding: 0.1rem 0.4rem;
              border-radius: 5px;
              z-index: 1009;
              align-self: flex-end;
              position: relative;
              top: -1.2rem;
              left: 10.35rem;
            }
          }
          .info-title {
            // width: 233px;
            .cate-tag {
              text-align: center;
              align-items: center;
              padding: 0.1rem 0.4rem;
              background-color: $color-light-grey;
              border-radius: 12px;
              width: fit-content;
              height: fit-content;
              font-size: $fz-ss-sm;
              color: $color-dark-grey;
            }
          }
        }
      }
    }
  }
}
