// -------- hero 1 --------
.hero1 {
  // display: block;
  padding: 0;
  .row {
    background-image: url(../images/hero1.svg);
    height: 47.188rem;
    width: 100vw;
<<<<<<< HEAD
    background-repeat: no-repeat;
=======
>>>>>>> 9520249 (doc - 將首頁模組化)
    .hero1-btn {
      position: relative;
      top: 6.5rem;
      margin: 0;
      margin-left: 3.5rem;
      .hero1-btn-arrow {
        position: relative;
        top: 4.063rem;
        left: -3rem;
      }
      &:hover {
        .hero1-btn-arrow {
          animation: btn-go 0.9s infinite linear;
        }
      }
      @keyframes btn-go {
        0% {
        }
        100% {
          transform: translateX(1rem);
        }
      }
    }
  }
}
