// -------- hero 2 --------
.hero2 {
  height: 726px;
  background-color: $color-light-green;
  color: white;
  .hero2Text {
    margin-top: 50px;
    margin-bottom: 50px;
    top: 214px;
    align-items: center;
  }
  .hero2Info {
    text-align: center;
    margin: 150px 152px 150px 78px;
    width: 500px;
    height: 432px;
  }
}
