// -------- hero4 --------

.hero4 {
  height: 726px;
  background-color: $color-yellow;
  .hero4-top {
    height: 11.866rem;
    .hero4-title {
      // position: relative;
      // top: 13vh;
    }
  }
  .hero4-bottom {
    .box {
      background: $color-light;
      height: 279px;
      width: 251px;
      border-radius: 20%;
    }
    .hero4-btn-group {
      font-size: $fz-xxxx-lg;
<<<<<<< HEAD

=======
      color: white;
>>>>>>> 9520249 (doc - 將首頁模組化)
      .btn-box {
        border: 4px solid white;
        height: 45px;
        width: 238px;
      }
    }
  }
}
