// -------- hero 5 --------
.hero5 {
  overflow: hidden;
  .hero5-bg {
    background: radial-gradient(
        rgba(166, 191, 75, 0.3),
        rgba(102, 140, 74, 0.3)
      ),
<<<<<<< HEAD
      url(../images/hero5.jpg);
=======
      url(../images/hero5.svg);
>>>>>>> 9520249 (doc - 將首頁模組化)
    height: 45.375rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;

    filter: blur(3px);
    // background-size:100%  ;
  }
}
