@import "../../../styles/index.scss";
// $navbar-height: 6.25rem;
// $footer-height: 15.063rem;

.hero-text-sm {
  font-size: 1.25rem;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
}

.drop-shadow {
  -webkit-filter: drop-shadow(0.188rem 0.188rem 0.125rem $color-dark-grey);
  filter: drop-shadow(0.188rem 0.188rem 2px $color-dark-grey);
}

// -------- hero 1 --------
@import "./_hero1.scss";
// -------- hero 2 --------
@import "./_hero2.scss";
// -------- hero 3 --------
@import "./_hero3.scss";
// -------- hero 4 --------
@import "./_hero4.scss";
// -------- hero 5 --------
@import "./_hero5.scss";
