@import "../../../styles/index.scss";
// $navbar-height: 6.25rem;
// $footer-height: 15.063rem;

.hero-text-sm {
  font-size: 1.25rem;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
}

.drop-shadow {
  -webkit-filter: drop-shadow(0.188rem 0.188rem 0.125rem $color-dark-grey);
  filter: drop-shadow(0.188rem 0.188rem 2px $color-dark-grey);
}

// -------- hero 1 --------
<<<<<<< HEAD
<<<<<<< HEAD
@import "./_hero1.scss";
=======
.hero1 {
  // display: block;
  padding: 0;
  .row {
    background-image: url(../images/hero1.svg);
    height: 47.188rem;
    width: 100vw;
    .hero1-btn {
      position: relative;
      top: 6.5rem;
      margin: 0;
      margin-left: 3.5rem;
      .hero1-btn-arrow {
        position: relative;
        top: 4.063rem;
        left: -3rem;
      }
      &:hover {
        .hero1-btn-arrow {
          animation: btn-go 0.9s infinite linear;
        }
      }
      @keyframes btn-go {
        0% {
        }
        100% {
          transform: translateX(1rem);
        }
      }
    }
  }
}
>>>>>>> 63d10a5 (debug - 首頁跑版)
=======
@import "./_hero1.scss";
>>>>>>> 9520249 (doc - 將首頁模組化)
// -------- hero 2 --------
@import "./_hero2.scss";
// -------- hero 3 --------
@import "./_hero3.scss";
// -------- hero 4 --------
@import "./_hero4.scss";
// -------- hero 5 --------
<<<<<<< HEAD
<<<<<<< HEAD
@import "./_hero5.scss";
=======
.hero5 {
  overflow: hidden;
  .hero5-bg {
    background: radial-gradient(
        rgba(166, 191, 75, 0.3),
        rgba(102, 140, 74, 0.3)
      ),
      url(../images/hero5.svg);
    height: 45.375rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;

    filter: blur(3px);
    // background-size:100%  ;
  }
}
=======
@import "./_hero5.scss";
>>>>>>> 9520249 (doc - 將首頁模組化)
// -------- footer --------
footer {
  height: $footer-height;
  .footerSec1 {
    width: 1140px;
    margin: 49px auto;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    .footerIcon {
      height: 40px;
    }

    span {
      margin: 0;
      line-height: 40px;
      color: $color-dark-grey;
    }
    .link-groups {
      width: 350px;
      .FooterLink {
        color: $color-dark-grey;
        text-decoration: none;
        padding: 10px 0 10px 30px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 20.27px;
      }
    }
  }
  .split {
    background-color: $color-grey;
    height: 1px;
    margin: auto;
    width: 1140px;
  }
  .footerSec2 {
    width: 1140px;
    margin: 24px auto;
    color: $color-grey;

    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
  }
}
>>>>>>> 6415498 (feat - 註冊欄位)
