// -------- 商品評論 --------

.products-commit {
    margin-top: 10rem;

    // 區塊置中
    //設定寬度 75% 是因為 RWD 要變成 100%
    .products-commit-total {
        width: 75%;
        margin: auto;
    }
    .product-commit {
        border-bottom: 1px solid $color-green;
        padding-bottom: 1.65rem;
        width: 75%;
        margin: auto;
        .user-data {
            // -------- 用戶照片 --------
            .user-photo {
                width: 4.1rem;
                height: 4.1rem;
                .cover-photo {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .user-data-name {
            }
            // -------- 留言時間 --------
            .user-data-commit-time {
                font-size: $fz-ss-sm;
                color: $color-grey;
                font-weight: $fw-medium;
            }
            // -------- 檢舉按鈕 --------
            .user-data-report {
                color: $color-grey;
                font-weight: $fw-medium;
                border: none;
                background-color: rgba(0, 0, 0, 0);
            }
            .dropdown-menu {
                padding-left: 0.3rem;
                background-color: rgba(0, 0, 0, 0);
                min-width: 3rem;
                a {
                    text-decoration: none;
                    color: $color-black;
                    transition: 0.3s;
                    &:hover {
                        color: $color-light-red;
                    }
                }
            }
            .product-data {
                padding-right: 1.92rem;
                // -------- 商品名稱 --------
                .product-data-name {
                    color: $color-grey;
                }
                // -------- 商品圖片 --------
                .product-photo {
                    width: 7rem;
                    height: 5rem;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        // -------- 用戶評論 --------
        .user-commit {
            padding-right: 3.5rem;
            font-size: $fz-md;
        }
    }
}

// -------- 平板 RWD --------
@media screen and (max-width: 768px) {
    .products-commit {
        .product-commit {
            .user-commit {
                padding-right: 0;
                font-weight: 100;
            }
            .product-photo {
                display: none;
            }
        }
    }
}

// -------- 手機 RWD --------
@media screen and (max-width: 390px) {
    .products-commit {
        .products-commit-total {
            width: 100%;
        }
        .product-commit {
            .user-commit {
            }

            .product-data-name {
                display: none;
            }
        }
    }
    .products-commit {
        .product-commit {
            width: 100%;
            .user-data {
                .product-data {
                    padding: 0;
                }
            }
        }
    }
}
