//-------- 遮雨棚區塊 -------
.canopy {
    ul {
        list-style: none;
        padding-left: 0;
        li {
            padding: 1.85rem 1.35rem;
            background-color: #fff;
            border-radius: 0 0 1.2rem 1.2rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        li:nth-child(even) {
            background-color: $color-red;
        }
    }
}
//-------- 遮雨棚區塊結束 -------
