.product-button {
    button {
        color: $color-green;
        margin-top: 4.7rem;
        margin-left: 1.45rem;
        border: 1px solid $color-green;
        border-radius: 0;
        padding: 0.4rem 2.9rem;
        font-size: 1.2rem;
        transition: 0.25s;
        &:hover {
            color: #fff;
            background: $color-green;
        }

        // &:nth-child(2) {
        //     margin-left: 0.75rem;
        // }
    }
    .active {
        color: #fff;
        background: $color-green;
    }
}
