// -------- footer --------
footer {
  height: $footer-height;
  .footerSec1 {
    width: 1140px;
    margin: 49px auto;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    .footerIcon {
      height: 40px;
    }

    span {
      margin: 0;
      line-height: 40px;
      color: $color-dark-grey;
    }
    .link-groups {
      width: 350px;
      .FooterLink {
        color: $color-dark-grey;
        text-decoration: none;
        padding: 10px 0 10px 30px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 20.27px;
      }
    }
  }
  .split {
    background-color: $color-grey;
    height: 1px;
    margin: auto;
    width: 1140px;
  }
  .footerSec2 {
    width: 1140px;
    margin: 24px auto;
    color: $color-grey;

    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
  }
}
