// -------- navbar --------

// .hamburger-react {
//   display: none;
// }
// .sm-nav {
//   display: none;
// }
// @media (max-width: 540px) {
//   .navbar {
//     display: flex;
//     margin: auto;

//     .nav {
//       width: 95vw;
//       margin: 1.5rem auto 0.5rem;
//       justify-content: space-between;
//     }
//     .navbar-nav {
//       display: none;
//     }
//     .hamburger-react {
//       display: block;
//       color: $color-green;
//     }
//     .sm-icon {
//       display: inline-block;
//       width: fit-content;
//       font-size: 1.5rem;
//       margin-top: 3px;
//     }
//   }
// }
.navbar {
  z-index: 1010;
  height: 10vw;
  background-color: rgba(255, 255, 255, 0.884);
  display: grid;
  margin: auto;
  .nav-content {
    width: 80vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  .nav-logo {
    width: 100%;
  }
  .sm-logo-left {
    display: none;
  }
  .side-menu {
    display: none;
  }
  .nav-links {
    width: 55%;
    display: flex;
    justify-content: space-evenly;

    .nav-link {
      text-decoration: none;
      color: $color-dark-grey;
      font-size: $fz-x-lg;
    }
  }
  .nav-icons {
    width: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-icon {
    color: $color-grey;
    font-size: $fz-xxx-lg;
  }
}
.nav-popover {
  padding: 0;
  .popover-item {
    padding: 0.5rem 1rem;
    .nav-popover-link {
      text-decoration: none;
      color: $color-dark-grey;
      font-size: $fz-lg;
    }
    &:hover {
      background-color: $color-grey;
      .nav-popover-link {
        color: white;
      }
    }
  }
}
.confirmbtn {
  width: fit-content;
  height: fit-content;
  background-color: $color-red;
  color: white;

  border-radius: 2px;
}
.cancelbtn {
  width: fit-content;
  height: fit-content;
  background-color: $color-green;
  color: white;
  border-radius: 2px;
}
@media (max-width: 540px) {
  .navbar {
    height: 10vh;
    .nav-content {
      width: 90vw;
      margin-top: 1.5rem;
      align-items: center;
      .nav-logo {
        height: 3vh;
      }
      .sm-logo-left {
        display: flex;
        align-items: center;

        .sm-icon {
          padding-bottom: 0.4rem;
          color: $color-dark-grey;
          font-size: $fz-x-lg;
        }
        .side-menu {
          display: block;
        }
      }
      .nav-links {
        display: none;
        // display: block;
        .nav-links {
          font-size: $fz-s-sm;
        }
      }
      .nav-icons {
        display: none;
      }
    }
  }
}
