$color-green: #668c4a;
$color-lightGreen: #a6bf4b;
$color-light: #f2f0d5;
$color-yellow: #f2c53d;
$color-grey: #b1b1ac;
$color-darkGrey: #666666;
$color-canopy-dominant: #fff;
$color-canopy-Subtone: #9b1313;
