@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap%22");
#root {
  width: 100vw;
  overflow: hidden;
  font-family: Montserrat, "Noto Sans TC", "PingFang TC", "Lantinghei TC",
    "Microsoft JhengHei", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #666666;
  font-size: 1rem;
  font-weight: 400;
}

.storeLogo {
  height: 300px;
  position: relative;
  overflow: hidden;
}

.storeLogo .storeLogoImg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.store-data {
  margin-top: 4rem;
  color: #666666;
}

.store-data .storeDataLeft h1 {
  font-size: 1.75rem;
  font-weight: 500;
}

.store-data .storeDataLeft p {
  font-weight: 400;
}

.store-data .store-map {
  border: 1px solid black;
  height: 270px;
}

.canopy ul {
  list-style: none;
  padding-left: 0;
}

.canopy ul li {
  padding: 1.85rem 1.35rem;
  background-color: #fff;
  border-radius: 0 0 1.2rem 1.2rem;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.canopy ul li:nth-child(even) {
  background-color: #9b1313;
}

.product-button a {
  color: #668c4a;
  margin-top: 4.7rem;
  margin-left: 1.45rem;
  border: 1px solid #668c4a;
  border-radius: 0;
  padding: 0.4rem 2.9rem;
  font-size: 1.2rem;
}

.product-button a:hover {
  color: #fff;
  background: #668c4a;
}

.product-card {
  padding: 0;
  margin-top: 4.95rem;
  -webkit-box-shadow: 0rem 0rem 1rem #ccc;
  box-shadow: 0rem 0rem 1rem #ccc;
  border-top: 0.54rem solid #f2c53d;
  border-bottom: 0.54rem solid #f2c53d;
  border-radius: 0.4rem;
  -webkit-transition: 0.38s;
  transition: 0.38s;
  margin-left: 2.55rem;
}

.product-card .card {
  border-bottom: 0.8rem;
  border: none;
  padding: 0 1.35rem;
}

.product-card .card .product-card-text {
  padding: 1.25rem 0 0.75rem 0;
  letter-spacing: 0.16rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product-card .card .product-card-text .time-text {
  font-size: 0.88rem;
}

.product-card .card .product-card-text .time-text span {
  padding-left: 0.45rem;
  font-size: 1rem;
  color: #668c4a;
  font-weight: 500;
}

.product-card .card .product-card-text .amount-text {
  border-radius: 1rem;
  background-color: #eaeaea;
  padding: 0.125rem 0.5rem;
}

.product-card .product-img {
  overflow: hidden;
}

.product-card .product-img .cover-fit {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.product-card .product-img .cover-fit:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.product-card .card-body {
  padding: 0;
}

.product-card .card-body .card-title {
  padding-top: 0.85rem;
  font-size: 1.35rem;
  letter-spacing: 0.22rem;
  margin: 0;
}

.product-card .card-body .card-star {
  letter-spacing: 0.22rem;
}

.product-card .card-body .card-text {
  padding-top: 0.5rem;
}

.product-card .card-body .text-end {
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
  font-size: 1.2rem;
}

.product-card:hover {
  -webkit-transform: translateY(-1.1rem);
  transform: translateY(-1.1rem);
  -webkit-box-shadow: 0rem 1rem 1rem #ccc;
  box-shadow: 0rem 1rem 1rem #ccc;
}

.product-card:nth-child(-n + 5) {
  margin-top: 0rem;
}

@media screen and (max-width: 1400px) {
  .cards {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .product-card:nth-child(-n + 5) {
    margin-top: 4.95rem;
  }
}

@media screen and (max-width: 767px) {
  .store-map {
    margin-top: 1.8rem;
  }
  .product-card {
    margin: 1.5rem 0rem;
  }
  .product-card:nth-child(2) {
    margin: 0;
  }
}

.horizontalBar div {
  margin-top: 5rem;
  background-color: #668c4a;
  padding: 1.03rem;
}

.horizontalBarBottom div {
  margin-top: 7rem;
  background-color: #668c4a;
  padding: 2.65rem 0;
}

.products-commit {
  margin-top: 4.5rem;
}

.products-commit .product-commit {
  border-bottom: 1px solid #668c4a;
  padding-bottom: 1.65rem;
}

.products-commit .product-commit .user-data .user-photo {
  width: 100px;
  height: 100px;
}

.products-commit .product-commit .user-data .user-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.products-commit .product-commit .product-photo {
  width: 104px;
  height: 80px;
}

.products-commit .product-commit .product-photo img {
  width: 100%;
  height: 100%;
}

.products-details .products-details-data {
  font-weight: 540;
}

.products-details .products-details-data .card {
  border-top: 0.54rem solid #f2c53d;
  border-bottom: 0.54rem solid #f2c53d;
  border-radius: 0.4rem 0.4rem 0 0;
}

.products-details .products-details-data .card .card-body .card-title {
  font-size: 1.125rem;
  font-weight: 700;
}

.products-details .products-details-data .card .card-body .card-value {
  border-bottom: 1px solid #b1b1ac;
  padding-bottom: 0.3rem;
}

.products-details
  .products-details-data
  .card
  .card-body
  .card-value
  .card-price {
  font-size: 1.125rem;
  font-weight: 700;
}

.products-details .products-details-data .card .card-body .card-text {
  padding-top: 0.3rem;
  font-size: 0.9375rem;
}

.products-details .products-details-data .card .card-body .card-amount {
  border-bottom: 1px solid #b1b1ac;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.products-details
  .products-details-data
  .card
  .card-body
  .card-amount
  .card-total-price {
  font-size: 1.625rem;
  font-weight: 900;
  color: #668c4a;
}

.products-details
  .products-details-data
  .card
  .card-body
  .card-amount
  .buy-num {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.products-details
  .products-details-data
  .card
  .card-body
  .card-amount
  .buy-num
  .buy-num-minus {
  padding: 0.01rem 0.25rem;
}

.products-details
  .products-details-data
  .card
  .card-body
  .card-amount
  .buy-num
  .buy-num-num {
  padding: 0px 0.95rem;
  color: #668c4a;
  font-weight: 900;
  font-size: 1.375rem;
}
/*# sourceMappingURL=index.css.map */
