.reg-con {
  background: $color-yellow;
<<<<<<< HEAD
  padding: 4rem;

  .content {
    background-color: white;
    .btn-fb-login {
      color: white;
      background-color: #3b5998;
      border-radius: 2px;
      .big-icon {
        font-size: 26px;
      }
    }
  }
  // -------- input樣式 --------
  .input-label-title {
    font-size: $fz-x-lg;
  }
=======
}
.btn-fb-login {
  color: white;
  background-color: #3b5998;
  border-radius: 2px;
}
.label-group {
  font-size: $fz-sm;
>>>>>>> 6415498 (feat - 註冊欄位)
  .custom-input {
    border-radius: 2px;
    border: 2px solid $color-light-grey;
  }
<<<<<<< HEAD
}

.label-group {
  font-size: $fz-sm;

=======
>>>>>>> 6415498 (feat - 註冊欄位)
  .btn-register {
    background-color: $color-green;
    color: white;
    border-radius: 2px;
  }
}
