@mixin btn_OutLine($fz-sm, $color-green) {
  font-size: $fz-sm;
  color: $color-green;
  border-color: $color-green;
  border-color: $color-green;
  border-radius: 2px;
  letter-spacing: $ls-sm;
  height: 2.5rem;
  padding-left: 15px;
  padding-right: 15px;
  &:hover {
    background-color: $color-green;
    border-color: $color-green;
    color: white;
  }
  &:focus {
    box-shadow: none;
  }
}

@mixin btn_Block($fz-sm, $color-green) {
  font-size: $fz-sm;
  width: 60%;
  background-color: $color-green;
  border-color: $color-green;
  border-radius: 2px;
  height: 2.5rem;
  &:hover {
    background-color: lighten($color-green, 8%);
    border-color: lighten($color-green, 8%);
  }
  &:focus {
    box-shadow: none;
  }
}

.cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// -------- 會員頭貼 --------
.user_Info {
  .headShot {
    height: 5rem;
    width: 5rem;
    border: 1px solid $color-light-grey;
    border-radius: 50%;
  }
  p {
    font-size: $fz-xx-lg;
    letter-spacing: $ls-md;
    color: $color-grey;
  }
}

// -------- 左方選單列 --------
.menu_Icon {
  color: $color-green;
  width: 20px;
  height: 20px;
}

.menu_Title {
  font-size: $fz-lg;
  letter-spacing: $ls-md;
  padding-left: 0.7rem;
  color: $color-green;
}

.menu_Title_Active {
  .menu_Icon,
  .menu_Title {
    color: $color-dark-yellow;
  }
}

.menu_Title_unActive {
  &:hover {
    .menu_Icon,
    .menu_Title {
      color: $color-dark-yellow;
    }
  }
}

.menu_Open {
  transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  height: auto;
  opacity: 1;
}

.menu_Close {
  transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  height: 0;
  overflow: hidden;
  opacity: 0;
  display: none;
}

.menu_Text {
  font-size: $fz-md;
  letter-spacing: $ls-md;
  padding-left: 1.9rem;
  color: $color-dark-grey;
}

.menu_Text_Active {
  color: $color-dark-yellow;
  &:hover {
    color: $color-dark-yellow;
  }
}

.menu_Text_unActive {
  &:hover {
    color: $color-dark-yellow;
  }
}

// -------- 頁面標題 --------
.page_Title {
  font-size: $fz-xx-lg;
  letter-spacing: $ls-lg;
}

// -------- 會員資料表單 --------
.form_Text {
  div {
    label {
      letter-spacing: $ls-md;
      color: lighten($color-dark-grey, 20%);
    }
  }
}

.error {
  height: 10px;
}

// -------- 欄位 --------
.form_Input {
  border-radius: 2px;
  height: 2.5rem;
  &:focus {
    box-shadow: none;
    border-color: $color-green;
  }
}

.form_Input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $color-grey;
  font-size: $fz-sm;
  letter-spacing: $ls-sm;
  opacity: 1; /* Firefox */
}

.form_Input:disabled,
.form_Input[readonly] {
  background-color: lighten($color-green, 50%);
  color: $color-dark-grey;
  letter-spacing: -0.3rem;
}

// -------- 按鈕 --------

.btn_Password {
  @include btn_OutLine($fz-sm, $color-green);
}

.btn_Submit {
  font-size: $fz-sm;
  width: 60%;
  background-color: $color-green;
  border-color: $color-green;
  border-radius: 2px;
  height: 2.5rem;
  &:hover {
    background-color: lighten($color-green, 8%);
    border-color: lighten($color-green, 8%);
  }
  &:focus {
    box-shadow: none;
  }
}

// -------- 上傳大頭照 --------
.user_Upload_Img {
  .headShot {
    height: 10rem;
    width: 10rem;
    border: 1px solid $color-light-grey;
    border-radius: 50%;
    margin: 0 auto;
  }
}

.btn_Upload {
  @include btn_Block($fz-sm, $color-green);
  width: 50%;
  .menu_Icon {
    color: white;
    width: 18px;
    height: 18px;
  }
}
