.reg-con {
  background: $color-yellow;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: auto;
  &_content {
    background-color: white;
    border-radius: 4px;
    filter: drop-shadow(0 0 0.5rem $color-grey);
  }
}
