// -------- input樣式 --------

.label-group {
  .input-label-title {
    font-size: $fz-x-lg;
  }
  .form-control {
    border-radius: 2px;
    border: 2px solid #ced4da;
  }
  .input-error {
    border: 2px solid $color-red;
  }
  .error {
    color: $color-red;
  }
  .eye {
    color: $color-grey;
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    font-size: large;
  }
}
.btn-group {
  .submit-btn {
    border: 2px solid $color-green;
    // background-color: $color-green;
    border-radius: 2px;
    color: $color-green;
    &:hover {
      background-color: $color-green;
      color: white;
    }
  }
  .btn-fb-login {
    color: white;
    background-color: #3b5998;
    border-radius: 2px;
    border: 1px solid #3b5998;
    .fb-icon {
      font-size: 26px;
    }
  }
}

//-------- login --------
@import "./login";
//-------- reset --------
@import "./reset";
//-------- register --------
@import "./register";
